You must write a semi-formal, business-like cold email with a maximum of 250 words. Sign of the email as Darius Pipinas. The person's email you are writing to is {{ email }}. Greet him/her with the first part of the {{ email }} adrress.