.viewable-items-container {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.viewable-item {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.clickable-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: rgb(240, 240, 240);
}
.clickable-button:hover {
  border-color: #646cff;
}
.clickable-button:focus,
.clickable-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}